<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%>

<!--modals-->
<div class="modal" id="delete">
  <div class="modal-content">
    <h6 class="light customfont grey-text center">Do want to delete this blog?</h6>
    <a href="/blog/<%=blog._id%>" class="btn-small cryan left">Not sure</a>
    <a data-doc="/blog/<%=blog._id%>" class="btn-small grey right  trash">Yes Delete</a>
  </div><br/><br/>
</div>  
<!--content-->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <a  class="btn-floating white right modal-trigger" id="admin" data-target="delete" style="margin-right:5%; display: none;">
    <i class="material-icons blue">delete_outline</i>
    </a>
    <div class="container texth1">
      <br><br>
      <h4 class="header center  white-text  customfont"><%=blog.title%></h4>
    </div> 
  </div>
  <div class="parallax"><img src="<%=blog.blogImage%>" alt="image" width="100%" height="20%" ></div>
</div>

    <div class="container">
        <p class="light black-text" style="font-size: 19px; font-family: 'Arial Narrow', Arial, sans-serif;"><%=blog.content%></p>
    </div>
     <br><br><br><br><br>
    
  <!--  Scripts-->
  <script type="module">
    import{projectStorage,ref,deleteObject,signout,onAuthStateChanged,auth}from '/fireConfig.js';
  
    const trash=document.querySelector('.trash');
    trash.addEventListener('click',(e)=>{
      //delete uploaded image on storage
      const storageRef=ref(projectStorage,'blog.blogImage');
      deleteObject(storageRef).then(() => {
        console.log('deleted')
      }).catch((error) => {
       console.log(error)
      });
      //delete data on backend
      const endpoint=`${trash.dataset.doc}`;
      fetch(endpoint,{
        method:'DELETE'
      }).then(()=>{
        window.location.href='/';
      }).catch(err=>{
        console.log(err)
      })
    });

     
      //logout
      const logout=document.querySelector('.logout');
      logout.addEventListener('click',()=>{
        signout().then(
          window.location.href='/'
        );
      })
      const logout2=document.querySelector('.logout2');
      logout2.addEventListener('click',()=>{
        signout().then(
          window.location.href='/'
        );
      })

//ui authentication
      const loggedinLink=document.querySelectorAll('#logged-in')
      const loggedoutLink=document.querySelectorAll('#logged-out')

      const setupUI=(user)=>{
        if(user){
          loggedinLink.forEach(item=>item.style.display='block')
          loggedoutLink.forEach(item=>item.style.display='none')
        }else{
          loggedinLink.forEach(item=>item.style.display='none')
          loggedoutLink.forEach(item=>item.style.display='block')
        }
      }
 auth.onAuthStateChanged((user)=>{
     //going to controll what users see if logged in or out
     if(user){
       //console.log('user is logged in', user)
        setupUI(user)
     } else {
       //console.log('user is logged outer',user)
       setupUI()
     }
   })
 
  </script>

  <script src="./js/materialize.min.js"></script>
  <script src="./js/init.js" type="module"></script>
  <script src="/fireConfig.js" type="module"></script>
  </body>
</html>
