<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs')%>
<body>
    <%- include('../partials/nav.ejs')%>
   

<!--content-->
    <div class="container">
        <h3 class="light grey-text customfont"><%=blog.title%></h3>
        <p><%=blog.content%></p>
    </div>
     
    <%- include('../partials/footer.ejs')%>
  <!--  Scripts-->
  <script src="./js/materialize.min.js"></script>
  <script src="./js/init.js" type="module"></script>
  </body>
</html>
